# Created by .ignore support plugin (hsz.mobi)
.idea/
dist/
index.html
node_modules/.bin/
node_modules/@antv/g/.editorconfig
node_modules/@antv/g/.eslintignore
node_modules/@antv/g/.eslintrc
node_modules/@antv/g/.torch.compile.opts.js
node_modules/@antv/g/.travis.yml
node_modules/@antv/g/CHANGELOG.md
node_modules/@antv/g/ISSUE_TEMPLATE.md
node_modules/@antv/g/LICENSE
node_modules/@antv/g/README.md
node_modules/@antv/g/bin/
node_modules/@antv/g/build/
node_modules/@antv/g/demos/
node_modules/@antv/g/dist/
node_modules/@antv/g/index.js
node_modules/@antv/g/package.json
node_modules/@antv/g/src/
node_modules/@antv/g/webpack-dev.config.js
node_modules/@antv/g/webpack.config.js
node_modules/@antv/g2/
node_modules/ansi-regex/
node_modules/ansi-styles/
node_modules/babel-code-frame/
node_modules/babel-helper-builder-binary-assignment-operator-visitor/
node_modules/babel-helper-call-delegate/
node_modules/babel-helper-define-map/
node_modules/babel-helper-explode-assignable-expression/
node_modules/babel-helper-function-name/
node_modules/babel-helper-get-function-arity/
node_modules/babel-helper-hoist-variables/
node_modules/babel-helper-optimise-call-expression/
node_modules/babel-helper-regex/
node_modules/babel-helper-remap-async-to-generator/
node_modules/babel-helper-replace-supers/
node_modules/babel-messages/
node_modules/babel-plugin-check-es2015-constants/
node_modules/babel-plugin-syntax-async-functions/
node_modules/babel-plugin-syntax-exponentiation-operator/
node_modules/babel-plugin-syntax-trailing-function-commas/
node_modules/babel-plugin-transform-async-to-generator/
node_modules/babel-plugin-transform-es2015-arrow-functions/
node_modules/babel-plugin-transform-es2015-block-scoped-functions/
node_modules/babel-plugin-transform-es2015-block-scoping/
node_modules/babel-plugin-transform-es2015-classes/
node_modules/babel-plugin-transform-es2015-computed-properties/
node_modules/babel-plugin-transform-es2015-destructuring/
node_modules/babel-plugin-transform-es2015-duplicate-keys/
node_modules/babel-plugin-transform-es2015-for-of/
node_modules/babel-plugin-transform-es2015-function-name/
node_modules/babel-plugin-transform-es2015-literals/
node_modules/babel-plugin-transform-es2015-modules-amd/
node_modules/babel-plugin-transform-es2015-modules-commonjs/
node_modules/babel-plugin-transform-es2015-modules-systemjs/
node_modules/babel-plugin-transform-es2015-modules-umd/
node_modules/babel-plugin-transform-es2015-object-super/
node_modules/babel-plugin-transform-es2015-parameters/
node_modules/babel-plugin-transform-es2015-shorthand-properties/
node_modules/babel-plugin-transform-es2015-spread/
node_modules/babel-plugin-transform-es2015-sticky-regex/
node_modules/babel-plugin-transform-es2015-template-literals/
node_modules/babel-plugin-transform-es2015-typeof-symbol/
node_modules/babel-plugin-transform-es2015-unicode-regex/
node_modules/babel-plugin-transform-exponentiation-operator/
node_modules/babel-plugin-transform-regenerator/
node_modules/babel-plugin-transform-strict-mode/
node_modules/babel-preset-env/.github/
node_modules/babel-preset-env/.npmignore
node_modules/babel-preset-env/CHANGELOG.md
node_modules/babel-preset-env/CONTRIBUTING.md
node_
modules/babel-preset-env/LICENSE
node_modules/babel-preset-env/README.md
node_modules/babel-preset-env/data/
node_modules/babel-preset-env/lib/
node_modules/babel-preset-env/package.json
node_modules/babel-runtime/
node_modules/babel-template/
node_modules/babel-traverse/
node_modules/babel-types/
node_modules/babylon/
node_modules/browserslist/
node_modules/caniuse-lite/
node_modules/chalk/
node_modules/core-js/
node_modules/d3-color/
node_modules/d3-ease/
node_modules/d3-interpolate/
node_modules/d3-timer/
node_modules/debug/
node_modules/electron-releases/
node_modules/electron-to-chromium/
node_modules/escape-string-regexp/
node_modules/esutils/
node_modules/fecha/
node_modules/gl-matrix/
node_modules/globals/
node_modules/has-ansi/
node_modules/invariant/
node_modules/js-tokens/
node_modules/jsesc/
node_modules/lodash/
node_modules/loose-envify/
node_modules/ms/
node_modules/private/
node_modules/regenerate/
node_modules/regenerator-runtime/
node_modules/regenerator-transform/
node_modules/regexpu-core/
node_modules/regjsgen/
node_modules/regjsparser/
node_modules/semver/
node_modules/strip-ansi/
node_modules/supports-color/
node_modules/to-fast-properties/
node_modules/wolfy87-eventemitter/
package-lock.json
package.json
